 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <style>
#div1{
    background-color: red;
    display: inline-block;/*by default is block*/
    width: 400px;;
    height: 200px;
}
#div2{
    background-color: blue;
    display: inline-block;/*by default is block*/
    width: 100px;;
    height: 50px;
}
#div3{
    background-color: aqua;
    display: inline-block;
    width: 200px;
    height: 300px;
}
 </style>
 <body>
     <div id="div1">
         Div 1
     </div>
     <div id="div2">
        Div 2
    </div>
    <div id="div3">
        Div 3
    </div>
 </body>
 </html>