<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
#div1{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 90vh;
}

#div2{
    
}
#div3{
    
}
div{
    border: 1px solid #ccc;
    padding: 10px;
}

</style>
<body>
    <div id="div1">
        <div id="div2">
            Div 2
        </div>
        <div id="div3">
            Div 3
        </div>
        <div id="div4">
            Div 4
        </div>
    </div>
</body>
</html>